{% extends "base.html" %}
{% load static %}
{% block body %}
			<!-- Breadcrumb -->
      {% include '_partials/_breadcrumbs.html' %}
			<!-- /Breadcrumb -->

			<!-- Course -->
			<section class="course-content">
				<div class="container">
					<div class="row">
						<div class="col-lg-9 col-md-12">

							<!-- Blog Post -->

							{% for video in object_list %}

							<div class="video">
								<div class="blog-image">
									<a href="{% url 'video:blog_detail' blogs.slug %}"><img class="img-fluid" src="{{ blogs.image.url}}" alt="Post Image"></a>
								</div>
								<div class="blog-info clearfix">
									<div class="post-left">
										<ul>
											<li><img class="img-fluid" src="{% static 'img/icon/icon-22.svg' %}" alt="">{{ video.created_at|date:'Y m D' }}</li>
										</ul>
									</div>
								</div>
								<h3 class="blog-title"><a href="{% url 'video:video_detail' video.pk %}">{{ video.title}}</a></h3>
							</div>

							{% endfor %}
							<!-- /Blog Post -->
              							<!-- Blog pagination -->


							<div class="row">
								<div class="col-md-12">
									<ul class="pagination lms-page">
										{% if page_obj.has_previous %}
											<li class="page-item prev">
												<a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"><i class="fas fa-angle-left"></i></a>
											</li>
										{% else %}
											<li class="page-item prev disabled">
												<a class="page-link disabled" href="" tabindex="-1"><i class="fas fa-angle-left"></i></a>
											</li>
										{%endif %}

										{% for i in page_obj.paginator.page_range %}

											<li class="page-item first-page {% if page_obj.number == i %} active {% endif %}">
												<a class="page-link" href="?page={{ i }}">{{ i }}</a>
											</li>
										{% endfor %}
										{% if page_obj.has_next %}
											<li class="page-item next">
												<a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-right"></i></a>
											</li>
										{% else %}
											<li class="page-item next disabled">
												<a class="page-link " href=""><i class="fas fa-angle-right"></i></a>
											</li>
										{% endif %}
									</ul>
								</div>
							</div>
							<!-- /Blog pagination -->
            </div>
            <!-- Blog Sidebar -->
						<div class="col-lg-3 col-md-12 sidebar-right theiaStickySidebar">

							<!-- Search -->
							<div class="card search-widget blog-search blog-widget">
								<div class="card-body">
									<form action="{% url 'video:search_view' %}" class="search-form" method="get">
										<div class="input-group">
											<input type="text" placeholder="Search..." class="form-control" name="q">
											<span  class="btn btn-primary"><i class="fa fa-search"></i></span>
										</div>
									</form>
								</div>
							</div>
							<!-- /Search -->

							<!-- Latest Posts -->
							<div class="card post-widget blog-widget">
								<div class="card-header">
									<h4 class="card-title">Recent Videos</h4>
								</div>
								<div class="card-body">
									<ul class="latest-posts">
										{% for video in recent %}

										<li>
											<div class="post-thumb">
												<a href="{% url 'video:blog_detail' video.slug %}">
													<img class="img-fluid" src="{{ video.alt_image.url}}" alt="">
												</a>
											</div>
											<div class="post-info">
												<h4>
													<a href="{% url 'video:video_detail' video.pk %}">{{ video.title}}</a>
												</h4>
												<p><img class="img-fluid" src="{% static 'img/icon/icon-22.svg' %}" alt=""> {{ video.created_at|date:'Y m D' | timesince }} ago</p>
											</div>
										</li>
										{% endfor %}
									</ul>
								</div>
							</div>
							<!-- /Latest Posts -->
						</div>
						<!-- /Blog Sidebar -->
					</div>
				</div>
			</section>
			<!-- /Course -->
{% endblock body %}
