{% extends "base.html" %}
{% load static %}
{% block body %}
{% include '_partials/_breadcrumbs.html' %}
<!-- Course -->
<section class="course-content">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-12">

				<!-- Video (blog styling used for videos) -->
				{% for video in video_list  %}
				<div class="blog">
					<div class="blog-image">
						<iframe width="100%"
							height="490"
							src="https://www.youtube.com/embed/{{ video.url }}"
							title="{{video.title}}"
							frameborder="0"
							allow="accelerometer;
						autoplay;
						clipboard-write;
						encrypted-media;
						gyroscope; picture-in-picture"
							allowfullscreen></iframe>

						<br>
						<hr>
					</div>
					<h3 class="blog-title"><a href='{{video.url}}'>{{ video.title }}</a> </h3>
					<div class="blog-info clearfix">
						<div class="post-left">
							<ul>
								<!-- <li>
									<div class="post-author">
										<a href="instructor-profile.html"><img
												src="{% static 'img/user/user.jpg' %}"
												alt="Post Author"> <span>Ruby Perrin</span></a>
									</div>
								</li> -->
								<li><img class="img-fluid"
										src="{% static 'img/icon/icon-22.svg' %}"
										alt="">{{video.created_at}}</li>
								<li><img class="img-fluid"
										src="{% static 'img/icon/icon-23.svg' %}"
										alt="">Tutorial</li>
							</ul>
						</div>
					</div>

				</div>
				{% endfor %}
				<!-- /Video  -->

				<!-- Video pagination -->

				<div class="row">
					<div class="col-md-12">
						<ul class="pagination lms-page lms-pagination">
							{% if page_obj.has_previous %}
							<li class="page-item prev">
								<a class="page-link"
									href="?page={{ page_obj.previous_page_number }}"
									tabindex="-1"><i class="fas fa-angle-left"></i></a>
							</li>
							{% endif %}
							{% for i in paginator.page_range %}

							{% if page_obj.number == i %}
							<li class="page-item first-page active">
								{% else %}
							<li class="page-item first-page">
								{% endif %}
								<a class="page-link"
									href="?page={{ i }}">{{ i }}</a>
							</li>
							{% endfor %}
							{% if page_obj.has_previous %}
							<li class="page-item next">
								<a class="page-link"
									href="?page={{ page_obj.next_page_number }}"><i
										class="fas fa-angle-right"></i></a>
							</li>
							{% endif %}
						</ul>
					</div>
				</div>
				<!-- New Pagination -->

				<!-- /Blog pagination -->
			</div>
			<!-- Blog Sidebar -->
			<div class="col-lg-3 col-md-12 sidebar-right theiaStickySidebar">

				<!-- Search -->
				<div class="card search-widget blog-search blog-widget">
					<div class="card-body">
						<form class="search-form">
							<div class="input-group">
								<input type="text"
									placeholder="Search..."
									class="form-control">
								<button type="submit"
									class="btn btn-primary"><i class="fa fa-search"></i></button>
							</div>
						</form>
					</div>
				</div>
				<!-- /Search -->

				<!-- Latest Posts -->
				<div class="card post-widget blog-widget">
					<div class="card-header">
						<h4 class="card-title">Recent Videos</h4>
					</div>
					<div class="card-body">
						<ul class="latest-posts">
							{% for video in  latest_videos %}
							<li>
								<div class="post-thumb">
									<a href="blog-details.html">
										<img class="img-fluid"
											src="{{video.alt_image.url}}"
											alt="">
									</a>
								</div>
								<div class="post-info">
									<h4>
										<a href="{{video.url}}">{{ video.title }}</a>
									</h4>
									<p><img class="img-fluid"
											src="{% static 'img/icon/icon-22.svg' %}"
											alt="">{{ video.created_at }}</p>
								</div>
							</li>
							{% endfor %}

						</ul>
					</div>
				</div>
				<!-- /Latest Posts -->

				<!-- Categories -->
				<div class="card category-widget blog-widget">
					<div class="card-header">
						<h4 class="card-title">Categories</h4>
					</div>
					<div class="card-body">
						<ul class="categories">
							<li><a href="javascript:void(0);"><i
										class="fas fa-angle-right"></i> Business </a></li>
							<li><a href="javascript:void(0);"><i
										class="fas fa-angle-right"></i> Courses </a></li>
							<li><a href="javascript:void(0);"><i
										class="fas fa-angle-right"></i> Education </a></li>
							<li><a href="javascript:void(0);"><i
										class="fas fa-angle-right"></i> Graphics Design </a></li>
							<li><a href="javascript:void(0);"><i
										class="fas fa-angle-right"></i> Programming </a></li>
							<li><a href="javascript:void(0);"><i
										class="fas fa-angle-right"></i> Web Design </a></li>
						</ul>
					</div>
				</div>
				<!-- /Categories -->

				<!-- Archives Categories -->
				<div class="card category-widget blog-widget">
					<div class="card-header">
						<h4 class="card-title">Archives</h4>
					</div>
					<div class="card-body">
						<ul class="categories">
							<li><a href="javascript:void(0);"><i
										class="fas fa-angle-right"></i> January 2022 </a></li>
							<li><a href="javascript:void(0);"><i
										class="fas fa-angle-right"></i> February 2022 </a></li>
							<li><a href="javascript:void(0);"><i
										class="fas fa-angle-right"></i> April 2022 </a></li>
						</ul>
					</div>
				</div>
				<!-- /Archives Categories -->

				<!-- Tags -->
				<div class="card tags-widget blog-widget tags-card">
					<div class="card-header">
						<h4 class="card-title">Latest Tags</h4>
					</div>
					<div class="card-body">
						<ul class="tags">
							<li><a href="javascript:void(0);"
									class="tag">HTML</a></li>
							<li><a href="javascript:void(0);"
									class="tag">Java Script</a></li>
							<li><a href="javascript:void(0);"
									class="tag">Css</a></li>
							<li><a href="javascript:void(0);"
									class="tag">Jquery</a></li>
							<li><a href="javascript:void(0);"
									class="tag">Java</a></li>
							<li><a href="javascript:void(0);"
									class="tag">React</a></li>
						</ul>
					</div>
				</div>
				<!-- /Tags -->

			</div>
			<!-- /Blog Sidebar -->
		</div>
	</div>
</section>
<!-- /Course -->
{% endblock body %}

{% block bottom_js %}
<!-- jQuery -->
<script src="assets/js/jquery-3.6.0.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="assets/js/bootstrap.bundle.min.js"></script>

<!-- counterup JS -->
<script src="assets/js/jquery.waypoints.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>

<!-- Owl Carousel -->
<script src="assets/js/owl.carousel.min.js"></script>

<!-- Slick Slider -->
<script src="assets/plugins/slick/slick.js"></script>

<!-- Sticky Sidebar JS -->
<script src="assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
<script
	src="assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

<!-- Custom JS -->
<script src="assets/js/script.js"></script>
{% endblock bottom_js %}
