{% extends "base.html" %}
{% load static %}

{% block css %}
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="{% static '/img/equest_logo.png' %}">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{% static 'plugins/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.min.css' %}">

		<!-- Feather CSS -->
		<link rel="stylesheet" href="{% static 'css/feather.css' %}">

		<!-- Select2 CSS -->
		<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">

		<!-- Main CSS -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock css %}

{% block body %}
<!--Dashbord Student -->
			<div class="page-content">
				<div class="container">
					<div class="row">

						<!-- sidebar -->
						<div class="col-xl-3 col-md-4 theiaStickySidebar">
							<div class="settings-widget dash-profile mb-3">
								<div class="settings-menu p-0">
									<div class="profile-bg">
                    {% if user.is_staff %}
										<h5>Staff</h5>
                    {% else %}
										<h5>Student</h5>
                    {% endif %}
										<img src="{% static 'img/profile-bg.jpg' %}" alt="">
										<div class="profile-img">
											<a href="#"><img src="{% static 'img/user/user11.jpg' %}" alt=""></a>
										</div>
									</div>
									<div class="profile-group">
										<div class="profile-name text-center">
											<h4><a href="#">{{ user }}</a></h4>
                      {% if user.is_staff %}
                      <p>Staff</p>
                      {% else %}
                      <p>Student</p>
                      {% endif %}
                    </div>
										<div class="go-dashboard text-center">
											<a href="{{ user.get_absolute_url }}" class="btn btn-primary">Go to Dashboard</a>
										</div>
									</div>
								</div>
							</div>
							<div class="settings-widget account-settings">
								<div class="settings-menu">
									<h3>ACCOUNT SETTINGS</h3>
									<ul>
										<li class="nav-item active">
											<a href="{{ user.get_absolute_url }}" class="nav-link">
												<i class="feather-settings"></i> Edit Profile
											</a>
										</li>
                    <li class="nav-item">
											<a href="{% url 'account_change_password' %}" class="nav-link">
												<i class="feather-user"></i> Security
											</a>
										</li>
										<li class="nav-item">
											<a href="{% url 'account_logout' %}" class="nav-link">
												<i class="feather-power"></i> Sign Out
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- /sidebar -->

            {% block profile %}
						<!-- Profile Details -->
						<div class="col-xl-9 col-md-8">
							<div class="settings-widget profile-details">
								<div class="settings-menu p-0">
									<div class="profile-heading">
										<h3>Profile Details</h3>
										<p>You have full control to manage your own account setting.</p>
									</div>
									<div class="course-group mb-0 d-flex">
										<div class="course-group-img d-flex align-items-center">
											<a href="student-profile.html"><img src="{% static 'img/user/user11.jpg' %}" alt="" class="img-fluid"></a>
											<div class="course-name">
												<h4><a href="student-profile.html">Your avatar</a></h4>
												<p>PNG or JPG no bigger than 800px wide and tall.</p>
											</div>
										</div>
										<div class="profile-share d-flex align-items-center justify-content-center">
											<a href="javascript:;" class="btn btn-success">Update</a>
											<a href="javascript:;" class="btn btn-danger">Delete</a>
										</div>
									</div>
									<div class="checkout-form personal-address add-course-info ">
										<div class="personal-info-head">
											<h4>Personal Details</h4>
											<p>Edit your personal information and address.</p>
										</div>
										<form method="POST" action="">
											<div class="row">
												<div class="col-lg-6">
													<div class="form-group">
														<label class="form-control-label">First Name</label>
														<input type="text" class="form-control" placeholder="Enter your first Name"
                            id="form.first_name.id_for_label" name="{{form.first_name.name}}" required value="{{form.first_name.value|default:''}}">

													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label class="form-control-label">Last Name</label>
														<input type="text" class="form-control" placeholder="Enter your last Name"
                            id="form.last_name.id_for_label" name="{{form.last_name.name}}" required value="{{form.last_name.value|default:''}}">
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label class="form-control-label">Phone</label>
														<input type="text" class="form-control" placeholder="Enter your Phone"
                            id="form.mobile_no.id_for_label" name="{{form.mobile_no.name}}" required value="{{form.mobile_no.value|default:''}}">
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label class="form-control-label">Email</label>
														<input type="text" class="form-control" readonly placeholder="Enter your Email"
                            id="form.email.id_for_label" name="{{form.email.name}}" required value="{{form.email.value|default:''}}">
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label class="form-control-label">Birthday</label>
														<input class="form-control" type="date"
                            id="form.birthday.id_for_label" name="{{form.birthday.name}}" required value="{{form.birthday.value|default:''}}">
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label  class="form-label">Gender</label>
														<select id="form.gender.id_for_label" class="form-select select country-select"  name="{{ form.gender.name}}">
															{% for x,y in form.fields.gender.choices %}
															<option value="{{ x }}"{% if form.gender.value == x %} selected{% endif %}>{{ y }}</option>
														 	{% endfor %}
														</select>
													</div>
												</div>
                        {% include '_partials/_form_errors.html' %}
												<div class="update-profile">
													<button type="submit" class="btn btn-primary">Update Profile</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- Profile Details -->
            {% endblock profile %}

					</div>
				</div>
			</div>
			<!-- /Dashbord Student -->
{% endblock body %}

{% block bottom_js %}
		<!-- jQuery -->
		<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

		<!-- Bootstrap Core JS -->
		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

		<!-- Select2 JS -->
	  	<script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>

		<!-- Feature JS -->
		<script src="{% static 'plugins/feather/feather.min.js' %}"></script>

		<!-- Sticky Sidebar JS -->
        <script src="{% static 'plugins/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
        <script src="{% static 'plugins/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>

		<!-- Custom JS -->
		<script src="{% static 'js/script.js' %}"></script>
{% endblock bottom_js %}
