{% extends "./_base.html" %}
{% load static %}
{% block inner %}
				<!-- Login Banner -->
				<div class="col-md-6 login-bg">
					<div class="owl-carousel login-slide owl-theme">
						<div class="welcome-login">
							<div class="login-banner">
								<img src="{% static 'img/login-img.png' %}" class="img-fluid" alt="Logo">
							</div>
							<div class="mentor-course text-center">
								<h2>Welcome to <br>Equest Tech Courses.</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							</div>
						</div>
						<div class="welcome-login">
							<div class="login-banner">
								<img src="{% static 'img/login-img.png' %}" class="img-fluid" alt="Logo">
							</div>
							<div class="mentor-course text-center">
								<h2>Welcome to <br>Equest Tech Courses.</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							</div>
						</div>
						<div class="welcome-login">
							<div class="login-banner">
								<img src="{% static 'img/login-img.png' %}" class="img-fluid" alt="Logo">
							</div>
							<div class="mentor-course text-center">
								<h2>Welcome to <br>Equest Tech Courses.</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- /Login Banner -->

				<div class="col-md-6 login-wrap-bg">

					<!-- Login -->
					<div class="login-wrapper">
						<div class="loginbox">
							<div class="w-100">
								<div class="img-logo">
									<img src="{% static 'img/equest_logo.png' %}" class="img-fluid" alt="Logo">
									<div class="back-home">
										<a href="{% url 'home:index' %}">Back to Home</a>
									</div>
								</div>
								<h1>Sign into Your Account</h1>
								<form method="POST" action="{% url 'account_login' %}">
                  {% csrf_token %}
									<div class="form-group">
										<label class="form-control-label">Email</label>
										<input type="email" class="form-control" placeholder="Enter your email address"
                    id="form.login.id_for_label" name="{{form.login.name}}" required value="{{form.login.value|default:''}}">
									</div>
									<div class="form-group">
										<label class="form-control-label">Password</label>
										<div class="pass-group">
											<input type="password" class="form-control pass-input" placeholder="Enter your password"
                      id="form.password.id_for_label" name="{{form.password.name}}" required value="{{form.password.value|default:''}}">
											<span class="feather-eye toggle-password"></span>
										</div>
									</div>
									<div class="forgot">
										<span><a class="forgot-link" href="{% url 'account_reset_password' %}">Forgot Password ?</a></span>
									</div>
									<div class="remember-me">
										<label class="custom_check mr-2 mb-0 d-inline-flex remember-me"> Remember me
											<input type="checkbox" id="form.remember.id_for_label" name="{{form.remember.name}}" required value="{{form.remember.value|default:''}}">
											<span class="checkmark"></span>
										</label>
									</div>
                  {% include '_partials/_form_errors.html' %}
									<div class="d-grid">
										<button class="btn btn-primary btn-start" type="submit">Sign In</button>
									</div>
								</form>
							</div>
						</div>
						<div class="google-bg text-center">
							<span><a href="#">Or sign in with</a></span>
							<div class="sign-google">
								<ul>
									<li><a href="#"><img src="{% static 'img/net-icon-01.png' %}" class="img-fluid" alt="Logo"> Sign In using Google</a></li>
									<li><a href="#"><img src="{% static 'img/net-icon-02.png' %}" class="img-fluid" alt="Logo">Sign In using Facebook</a></li>
								</ul>
							</div>
							<p class="mb-0">New User ? <a href="{% url 'account_signup' %}">Create an Account</a></p>
						</div>
					</div>
					<!-- /Login -->

				</div>
{% endblock %}
