{% extends "users/user_detail.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block profile %}
						<!-- Student Security -->
						<div class="col-xl-9 col-md-8">
							<div class="settings-widget profile-details">
								<div class="settings-menu p-0">
									<div class="profile-heading">
										<h3>Security</h3>
										<p>Edit your account settings and change your password here.</p>
									</div>
									<div class="checkout-form personal-address border-line">
										<div class="personal-info-head">
											<h4>Email Address</h4>
											<p>Your current email address is <span>{{ user.email}}</span></p>
										</div>
									</div>
									<div class="checkout-form personal-address">
										<div class="personal-info-head">
											<h4>Change Password</h4>
											<p>We will email you a confirmation when changing your password, so please expect that email after submitting.</p>
										</div>
										<div class="row">
											<div class="col-lg-6">
                        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                          {% csrf_token %}
                          {{ form|crispy }}
                          {% include '_partials/_form_errors.html' %}
                          <button class="btn btn-primary" type="submit" name="action">{% translate "Change Password" %}</button>
                      </form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Student Security -->

{% endblock profile %}

{% block footer %}

{% endblock footer %}

{% comment %}
<h1>{% translate "Change Password" %}</h1>

<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit" name="action">{% translate "Change Password" %}</button>
</form>
{% endcomment %}
