{% extends "base.html" %}
{% load static %}
{% block body %}
<!-- Breadcrumb -->

			<!-- Breadcrumb -->
      {% include '_partials/_breadcrumbs.html' %}
			<!-- /Breadcrumb -->

			<!-- Blog Details -->
			<section class="course-content">
				<div class="container">
					<div class="row">
						<div class="col-lg-9 col-md-12">

							<!-- Blog Post -->
							<div class="blog">
								<div class="blog-image">
									<a href="blog-details.html"><img class="img-fluid" src="{{ object.image.url}}" alt="Post Image"></a>
								</div>
								<div class="blog-info clearfix">
									<div class="post-left">
										<ul>
											<li>
												<div class="post-author">
													<a href="instructor-profile.html"><img src="{% static 'img/user/user.jpg' %}" alt="Post Author"> <span>{{ object.author.get_full_name }}</span></a>
												</div>
											</li>
											<li><img class="img-fluid" src="{% static 'img/icon/icon-22.svg' %}" alt="">{{ blog.created_at|date:'Y m D'}}</li>
											<li><img class="img-fluid" src="{% static 'img/icon/icon-23.svg' %}" alt="">
                        {% for tag in object.tags.all %}
                        {{ tag }},
												{% endfor %}
                      </li>
										</ul>
									</div>
								</div>
								<h3 class="blog-title"><a href="blog-details.html">{{ object.title }}</a></h3>
								<div class="blog-content">
									{{ object.description | striptags }}
								</div>
							</div>
							<!-- /Blog Post -->

						</div>

						<!-- Blog Sidebar -->
						<div class="col-lg-3 col-md-12 sidebar-right theiaStickySidebar">

							<!-- Search -->
							<div class="card search-widget blog-search blog-widget">
								<div class="card-body">
									<form class="search-form">
										<div class="input-group">
											<input type="text" placeholder="Search..." class="form-control">
											<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
										</div>
									</form>
								</div>
							</div>
							<!-- /Search -->

							<!-- Latest Posts -->
							<div class="card post-widget blog-widget">
								<div class="card-header">
									<h4 class="card-title">Recent Posts</h4>
								</div>
								<div class="card-body">
									<ul class="latest-posts">

										{% for blogs in recent %}
										<li>
											<div class="post-thumb">
												<a href="{% url 'blog:blog_detail' blog.slug %}">
													<img class="img-fluid" src="{{ blogs.image.url }}" alt="">
												</a>
											</div>
											<div class="post-info">
												<h4>
													<a href="blog-details.html">{{ blogs.title }}</a>
												</h4>
												<p><img class="img-fluid" src="{% static 'img/icon/icon-22.svg' %}" alt=""> {{ blog.created_at|date:'Y m D'}} </p>
											</div>
										</li>
                    {% endfor %}

									</ul>
								</div>
							</div>
							<!-- /Latest Posts -->

							<!-- Categories -->
							<div class="card category-widget blog-widget">
								<div class="card-header">
									<h4 class="card-title">Categories</h4>
								</div>
								<div class="card-body">
									<ul class="categories">
                    {% for categories in category %}

										  <li><a href="{% url 'blog:category_detail' categories.slug %}"><i class="fas fa-angle-right"></i> {{ categories.name }} </a></li>
										{% endfor %}
									</ul>
								</div>
							</div>
							<!-- /Categories -->
							<!-- Tags -->
							<div class="card tags-widget blog-widget tags-card">
								<div class="card-header">
									<h4 class="card-title">Latest Tags</h4>
								</div>
								<div class="card-body">
									<ul class="tags">
                    {% for tag in tags %}
										<li><a href="javascript:void(0);" class="tag">{{ tag.name }}</a></li>
										{% endfor %}
									</ul>
								</div>
							</div>
							<!-- /Tags -->

						</div>
						<!-- /Blog Sidebar -->

					</div>
				</div>
			</section>
			<!-- /Blog Details -->
{% endblock body %}
