{% extends "base.html" %}
{% load static %}
{% block body %}
<!-- Breadcrumb -->
<br>
<br>
<br>
			<div class="breadcrumb-bar mt-3">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-12">
							<div class="breadcrumb-list">
								<nav aria-label="breadcrumb" class="page-breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="index.html">Home</a></li>
										<li class="breadcrumb-item">Pages</li>
										<li class="breadcrumb-item">Instructors List</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->

			<!-- Page Wrapper -->
			<div class="page-content">

				<div class="container">
					<div class="row">
						<div class="col-lg-9">

							<!-- Filter -->
							<div class="showing-list">
								<div class="row">
									<div class="col-lg-6">
										<div class="d-flex align-items-center">
											{% comment %} <div class="view-icons">
												<a href="instructor-grid.html" class="grid-view "><i class="feather-grid"></i></a>
												<a href="instructor-list.html" class="list-view active"><i class="feather-list"></i></a>
											</div> {% endcomment %}
											<div class="show-result">
												<h4>Showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.object_list.count }} results</h4>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="show-filter add-course-info">
											<form action="#">
												<div class="row gx-2 align-items-center">
													<div class="col-md-6 col-item">
														<div class=" search-group">
															<i class="feather-search"></i>
															<input type="text" class="form-control" placeholder="Search our courses" >
														</div>
													</div>
													<div class="col-md-6 col-lg-6 col-item">
														<div class="form-group select-form mb-0">
															<select class="form-select select"  name="sellist1">
															  <option>Newly published </option>
															  <option>Angular</option>
															  <option>React</option>
															  <option>Nodejs</option>
															</select>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
							<!-- /Filter -->
              <div class="row">


                {% for tutor in page_obj %}
                <!-- Instructor List -->
								<div class="col-lg-12 d-flex">
									<div class="instructor-list flex-fill">
										<div class="instructor-img">
											<a href="instructor-profile.html">
												<img class="img-fluid" alt="" src="{% static 'img/user/user11.jpg' %}">
											</a>
										</div>
										<div class="instructor-content">
											<h5><a href="instructor-profile.html">{{ tutor.tutors }}</a></h5>
											<h6>Tutor</h6>
											<div class="instructor-info">
												<div class="rating-img d-flex align-items-center">
													<img src="{% static 'img/icon/icon-01.svg' %}" class="me-1" alt="">
													<p>{{ tutor.tutor_courses_count }}+ Courses</p>
												</div>
												<div class="rating-img d-flex align-items-center">
													<img src="{% static 'img/icon/user-icon.svg' %}" class="me-1" alt="">
													<p>{{ tutor.student_courses_count }} Students</p>
												</div>
												<div class="rating">
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i>
													<span class="d-inline-block average-rating"><span>4.0</span> (15)</span>
												</div>
												<a href="#rate" class="rating-count"><i class="fa-regular fa-heart"></i></a>
											</div>
											<div class="instructor-badge">
												<span class="web-badge">Web Design</span>
												<span class="web-badge">web development</span>
												<span class="web-badge">UI Design</span>
											</div>
										</div>
									</div>
								</div>
								<!-- /Instructor List -->
                {% endfor %}

              </div>
							<!-- /pagination -->
							<div class="row">
								<div class="col-md-12">
									<ul class="pagination lms-page lms-pagination">
                    {% if page_obj.has_previous %}
										<li class="page-item prev">
											<a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"><i class="fas fa-angle-left"></i></a>
										</li>
                    {% endif %}
                    {% for i in paginator.page_range %}

                    {% if page_obj.number == i %}
                    <li class="page-item first-page active">
                      {% else %}
                    <li class="page-item first-page">
                    {% endif %}
											<a class="page-link" href="?page={{ i }}">{{ i }}</a>
										</li>
                    {% endfor %}
                    {% if page_obj.has_previous %}
										<li class="page-item next">
											<a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-right"></i></a>
										</li>
                    {% endif %}
									</ul>
								</div>
							</div>
							<!-- /pagination -->

						</div>

						<div class="col-lg-3">
							<div class="filter-clear">
								<div class="clear-filter d-flex align-items-center">
									<h4><i class="feather-filter"></i>Filters</h4>
									<div class="clear-text">
										<p>CLEAR</p>
									</div>
								</div>

								<!-- Search Filter -->
								<div class="card search-filter">
									<div class="card-body">
										<div class="filter-widget mb-0">
											<div class="categories-head d-flex align-items-center">
												<h4>Course categories</h4>
												<i class="fas fa-angle-down"></i>
											</div>
											<div>
												<label class="custom_check">
													<input type="checkbox" name="select_specialist" >
													<span class="checkmark"></span> Backend (3)

												</label>
											</div>
											<div>
												<label class="custom_check">
													<input type="checkbox" name="select_specialist" >
													<span class="checkmark"></span>  CSS (2)
												</label>
											</div>
											<div>
												<label class="custom_check">
													<input type="checkbox" name="select_specialist">
													<span class="checkmark"></span>  Frontend (2)
												</label>
											</div>
											<div>
												<label class="custom_check">
													<input type="checkbox" name="select_specialist" checked>
													<span class="checkmark"></span> General (2)
												</label>
											</div>
											<div>
												<label class="custom_check">
													<input type="checkbox" name="select_specialist" checked>
													<span class="checkmark"></span> IT & Software (2)
												</label>
											</div>
											<div>
												<label class="custom_check">
													<input type="checkbox" name="select_specialist">
													<span class="checkmark"></span> Photography (2)
												</label>
											</div>
											<div>
												<label class="custom_check">
													<input type="checkbox" name="select_specialist">
													<span class="checkmark"></span>  Programming Language (3)
												</label>
											</div>
											<div>
												<label class="custom_check mb-0">
													<input type="checkbox" name="select_specialist">
													<span class="checkmark"></span>  Technology (2)
												</label>
											</div>
										</div>
									</div>
								</div>
								<!-- /Search Filter -->

								<!-- Search Filter -->
								<div class="card search-filter">
									<div class="card-body">
										<div class="filter-widget mb-0">
											<div class="categories-head d-flex align-items-center">
												<h4>Instructors</h4>
												<i class="fas fa-angle-down"></i>
											</div>
											<div>
												<label class="custom_check">
													<input type="checkbox" name="select_specialist" >
													<span class="checkmark"></span> Keny White (10)

												</label>
											</div>
											<div>
												<label class="custom_check">
													<input type="checkbox" name="select_specialist" >
													<span class="checkmark"></span>  Hinata Hyuga (5)
												</label>
											</div>
											<div>
												<label class="custom_check">
													<input type="checkbox" name="select_specialist">
													<span class="checkmark"></span>  John Doe (3)
												</label>
											</div>
											<div>
												<label class="custom_check mb-0">
													<input type="checkbox" name="select_specialist" checked>
													<span class="checkmark"></span> Nicole Brown
												</label>
											</div>
										</div>
									</div>
								</div>
								<!-- /Search Filter -->

								<!-- Search Filter -->
								<div class="card search-filter ">
									<div class="card-body">
										<div class="filter-widget mb-0">
											<div class="categories-head d-flex align-items-center">
												<h4>Price</h4>
												<i class="fas fa-angle-down"></i>
											</div>
											<div>
												<label class="custom_check custom_one">
													<input type="radio" name="select_specialist" >
													<span class="checkmark"></span> All (18)

												</label>
											</div>
											<div>
												<label class="custom_check custom_one">
													<input type="radio" name="select_specialist" >
													<span class="checkmark"></span>  Free (3)

												</label>
											</div>
											<div>
												<label class="custom_check custom_one mb-0">
													<input type="radio" name="select_specialist" checked>
													<span class="checkmark"></span>  Paid (15)
												</label>
											</div>
										</div>
									</div>
								</div>
								<!-- /Search Filter -->

							</div>
						</div>
          </div>
				</div>
			</div>
			<!-- /Page Wrapper -->
{% endblock body %}
