{% extends './tutor_dashboard.html' %}
{% load static %}
{% block tutor_dashboard_content %}
						<!-- Instructor Dashboard -->
						<div class="col-xl-9 col-lg-8 col-md-12">
							<div class="tak-instruct-group">
								<div class="row">
									<div class="col-md-12">
										<div class="settings-widget">
											<div class="settings-inner-blk p-0">
												<div class="sell-course-head student-meet-head comman-space border-0">
													<div class="tak-head d-flex align-items-center">
														<div>
															<h3>Students</h3>
															<p>Meet people taking your course.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
                  {% for student in students %}
									<div class="col-xl-4 col-lg-6 col-md-6 d-flex">
										<div class="student-box flex-fill">
											<div class="student-box-blks">
												<div class="message-text-img">
													<a href="{{ student.user.get_absolute_url }}">
														<img class="img-fluid" alt="Students Info" src="{% static 'img/icon/message-text.svg' %}">
													</a>
												</div>
												<div class="student-img">
													<a href="{{ student.user.get_absolute_url }}">
														<img class="img-fluid" alt="Students Info" src="{% static 'img/user/user1.jpg' %}">
													</a>
												</div>
												<div class="student-content pb-0">
													<h5><a href="{{ student.user.get_absolute_url }}">{{ student }}</a></h5>
													<div class="loc-blk d-flex align-items-center justify-content-center">
														<i class="feather-map-pin me-2"></i>
														<p> {{ student.user.gender }} </p>
													</div>
												</div>
											</div>
											<div class="enrol-student-foot">
												<ul>

                          {% if student.is_enrolled %}
													<li>Enrolled {{ student.enrolled_date }} </li>
                          {% else %}
                          <li>Not <span>Enrolled</span></li>
                          {% endif %}
													<li>Progress
														<div class="instruct-stip d-flex align-items-center">
															<span>20%</span>
															<div class="course-stip progress-stip">
																<div class="progress-bar bg-success progress-bar-striped active-stip"></div>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
                  {% empty %}
                  <p>No Students Yet!</p>
                  {% endfor %}
								</div>

								<!-- /pagination -->
								<div class="row">
									<div class="col-md-12">
										<ul class="pagination lms-page mt-0">
											<li class="page-item prev">
												<a class="page-link" href="javascript:void(0);" tabindex="-1"><i class="fas fa-angle-left"></i></a>
											</li>
											<li class="page-item first-page active">
												<a class="page-link" href="javascript:void(0);">1</a>
											</li>
											<li class="page-item">
												<a class="page-link" href="javascript:void(0);">2</a>
											</li>
											<li class="page-item">
												<a class="page-link" href="javascript:void(0);">3</a>
											</li>
											<li class="page-item">
												<a class="page-link" href="javascript:void(0);">4</a>
											</li>
											<li class="page-item">
												<a class="page-link" href="javascript:void(0);">5</a>
											</li>
											<li class="page-item next">
												<a class="page-link" href="javascript:void(0);"><i class="fas fa-angle-right"></i></a>
											</li>
										</ul>
									</div>
								</div>
								<!-- /pagination -->

							</div>
						</div>
						<!-- /Instructor Dashboard -->
{% endblock tutor_dashboard_content %}
